.DS_Store
.idea/

/synthetic/alpha_01-beta_01-20230520/
/synthetic/alpha_005-beta_005-20230515/
/synthetic/dev/
/synthetic/plots/
/synthetic/sh/
*/__pycache__/

/mnist/alpha_01-beta_01/
/mnist/data/
/mnist/output/
/mnist/sh/
/mnist/small_set-alpha_01-beta_01/
/cifar/
/femnist/
/mnist/
